body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
}

#downloadXashBox
{
  background-color: gray;
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

#xashBoxBottom
{
  margin:20px;
}

#xashImage
{
  display: inline-block;
  vertical-align: top;
  width:200px;
  height:200px;
  margin: 20px;
}

#xashText
{
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
