body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
  margin: 0;
}

#downloadDialog
{
  float: right;
  background-color: white;
  width:400px;
  height:120px;
  visibility: hidden;
}

.downloadedPackageLine
{

}

.downloadIcon
{
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
}

.downloadInfoBlock
{
  margin: 10px;
  height: 100px;
  width: 200px;
  display: inline-block;
  vertical-align: top;

}

.downloadProgressBar
{
  position: relative;
  width: 200px;
  bottom: -10px;
}

.termsText
{
  height: 500px;
  font-weight: 400;
  height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.packageFeature
{
  font-weight: 400;
}
#downloadXashBox
{
  background-color: gray;
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

#xashBoxBottom
{
  margin:20px;
}

#xashImage
{
  display: inline-block;
  vertical-align: top;
  width:200px;
  height:200px;
  margin: 20px;
}

#xashText
{
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

#footer
{
  background-color: gray;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

/* removes close button from jquery dialogs with the no-close dialogClass
code from: https://api.jqueryui.com/dialog/ */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
