body
{
  font-family: monospace;
  width:800px;
  margin: 30px;
}

.redacted
{
  background-color: black;
  color: rgb(0, 0, 0, 0);
}

.revealed
{
  background-color: rgb(0, 0, 0, 0);
  color: red;
}

.found
{
  background-color: yellow;
}

.disabledGame
{
  background-color: black;
  color: white;
}
